.QueuingPage_BoxSelection{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px !important;
}

.QueuingPage_Container{
  display: flex;
  align-items: center;
  text-align: center;
}